<div class="container-fluid">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/">Categoria</a>
        <a class="dropdown-item" routerLink="/">Categoria</a>
        <a class="dropdown-item" routerLink="/">Categoria</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Mercados</a>
    </li>
  </ul>
</div>