<footer>
  <div class="container-footer-all">

      <div class="container-body">

          <div class="colum1">
              <h1>Mais informações</h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum sapien vitae
                  feugiat laoreet. Maecenas sed dictum ligula. Curabitur egestas porta lorem in imperdiet. Proin sit
                  amet est fringilla, interdum nisi vel, congue arcu. Suspendisse ac volutpat turpis. Suspendisse potenti.
                  Duis ac libero sit amet augue viverra aliquet eget eu nibh. Vivamus sed venenatis lacus.</p>

          </div>
      </div>
  </div>

  <div class="container-footer">
      <div class="footer">
          <div class="copyright">
              © 2017 Todos os Direitos Reservados | <a href="">Tá Barato</a>
          </div>

          <div class="information">
              <a href="">Informações</a> | <a href="">Políticas de privacidade</a> | <a href="">Termos e condições</a>
          </div>
      </div>

  </div>

</footer>
