<mat-card>
    <mat-form-field>
      <!-- two way data biding -->
      <input matInput [(ngModel)]="answer" placeholder="What?">
    </mat-form-field>
  
    <br>
    
    <button mat-raised-button (click)="showAnswer()">Answer me</button>
    <!-- Spinner/loading will display when click the answer button -->
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card>
  
  
  <mat-card *ngIf="answerDisplay">
    <h1>{{ answerDisplay }}, success.</h1>
  </mat-card>