/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poppins|Source+Sans+Pro|Tajawal|Ubuntu');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif; 
    opacity: 0.9;
    background: linear-gradient(to right, #e8e8e8, #9198e5) !important;
}